<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/css/starter.css">
    <link rel="stylesheet" href="/stylesheets/css/style.css">
    <link rel="stylesheet" href="/stylesheets/css/mobile.css">
    <title>Document</title>
    <style>
        .next-particle {
            display: none;
        }
    </style>

</head>

<body>
   
    <div>
        start from here
    </div>

    <!-- modal -->

    <!-- Button trigger modal -->


    <!-- Modal -->
   
    <!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="/javascripts/js/jQuery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="/javascripts/js/nextparticle.min.js"></script>
    <script src="/javascripts/js/bootstrap.min.js"></script>
    <script src="/javascripts/js/splitting.js"></script>
    <script src="/javascripts/js/bootstrap.min.js"></script>
    <script src="/javascripts/js/scroll-out.js"></script>
    <script src="/javascripts/js/controller.js"></script>
    <script src="/javascripts/js/main.js"></script>
    <script src="/javascripts/js/metamask.js"></script> -->

    <script>

    </script>

</body>

</html>