<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/css/mobile.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/main-sifi.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/globals.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/mobile.css" />
    <link rel="icon" type="image/x-icon" href="../fav.png">

    <title>SiFi Finance</title>
    <style>
        .next-particle {
            display: none;
        }
    </style>

</head>

<body>
   
  <div class="main-sifi screen" >
    <div style="background-color: var(--sazerac); width: 100%;">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent px-0 pt-4">
          <a class="navbar-brand" href="#">SiFi Finance</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <!-- <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li> -->
             
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <button id = 'connect-btn' class="btn btn-primary">
                Connect Wallet
              </button>
            </form>
          </div>
        </nav>
      </div>
   
      <div class="container spacer">
        <div class="group-23 ">
          <div class="group-15">
            <div class="group-14">
              <h1 class="easiest-way-to-invest-in-crypto">Easiest way to earn in crypto</h1>
              <div class="instantly-invest-in lead">
                Instantly invest in custom crypto baskets, Curated portfolios, and more. Be smart, start investing
                now!
              </div>
            </div>
            <div class="frame-container">
              
              <div class="frame-5 btn-shadow-h">
                <div id="btn-private-sale" class="private-sale-live inter-semi-bold-white-16px">PRIVATE SALE LIVE 
                  <img
                  class="biarrow-right"
                  src="./img/arrow-r.svg"
                />
                </div>
              </div>
            </div>
          </div>
          <div class="overlap-group1">
            <img src="./img/home-img.png" style="margin-top: -50px;" alt="">
        </div>
      </div>
    
    </div>
    </div>

    
    <div style="background-color: var(--green-white); overflow: hidden;"  class="spacer por" >
      <svg width="0" height="0" display="none" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <symbol id="shape-offercarousel-background-shape-bottom" viewbox="0 0 1920 81.6">
            <path fill="var(--sazerac)">
              <animate attributeName="d" dur="5000ms" repeatCount="indefinite" keyTimes="0;.1;.25;.4;.6;.75;1" 
              values="M0,.4v-1H1920V1.2C1732.6,45.2,1394.8,81,963.2,81,441,80.9,121.1,28.5,0,.4Z;
                                                                                                      M0,.4v-1H1920V1.2C1622.43,15.74,1394.8,81,963.2,81,441,80.9,121.1,28.5,0,.4Z;
                                                                                                      M0,.4v-1H1920V1.2C1474.91,0,1391.57,28.65,965.43,62.7,430.13,99.09,312.74,69.74,0,.4Z;
                                                                                                                  M0,.4v-1H1920V1.2c-445.09-1.2-558.84-4.92-1009.74,11C372.61,31.22,312.74,69.74,0,.4Z;
                                                                                                                  M0,.4v-1H1920V1.2c-104.65,73.23-372.3,80.5-945.17,46.23C425-.7,198.87,5.17,0,.4Z;
                                                                                                         M0,.4v-1H1920V1.2c-313.61,72.06-502.61,80.5-954.57,61.5C427.92,40.09,340.91,0,0,.4Z;
                                                                                                               M0,.4v-1H1920V1.2C1732.6,45.2,1394.8,81,963.2,81,441,80.9,121.1,28.5,0,.4Z" />
            </path>
          </symbol>
        </defs>
      </svg>
      <svg class="background-shape-bottom" width="1920px" height="81.71px" aria-hidden="true">
        <use xlink:href="#shape-offercarousel-background-shape-bottom"></use>
      </svg>
      <div class="container mt-5" id="section-participate">
        <div class="token-item-groups mx-auto" style="width: 55%;">
          <div class="participate-in-the-s">Participate In The SiFi Token Private Sale</div>
            <div id = "referrer"></div>
          <div class="group-9">
            <div class="form-group">
              <input id = 'amount-input' type="number"class="dropdown-selector form-control" placeholder="Enter BUSD Amount">
            </div>
          
            <div class="frame-container-1">
              <div id = "buy-btn" class="frame-5-1 btn-shadow-h buy-now">
                  <div class="raleway-semi-bold-white-16px">BUY NOW</div>
                  <img
                  class="biarrow-right"
                  src="./img/arrow-r.svg"
                />
               </div>
               <div class="inv-button text-center">
                <button id = "enable-busd" class="btn btn-primary mr-3">Enable BUSD</button>
                <button id = "swap"  class="btn btn-outline-primary " data-toggle="modal" >Buy</button>
              </div>
  
           
             
              </div>
            </div>
          
          </div>
          <div class="group-19">
            <div class="frame-8 border-1px-violet-red-2">
              <!-- <div class="to-pay-2356-bnb">
                <span class="notosans-normal-black-21px">To pay: </span><span class="span1">23.56 BNB</span>
              </div> -->
              <div class="you-get-435684-sifi notosans-normal-black-21px">You get: 
              </span><span id="u-get" class="span1">0</span> SiFi
               </div>
            </div>
            <p id = "connected-label" class="web3-wallet-not-con raleway-normal-storm-dust-12px">
              *Web3 wallet not connected. Open this site in Trust wallet or Metamask dApp browser.
            </p>
            <!-- <ul class="trans-history">
              <h4>Transaction History</h4>
              <li>2345 SiFi  <a href="" class="btn btn-link">Txn Link</a> </li>
              <li>34567 SIFi  <a href="" class="btn btn-link">Txn Link</a> </li>
            </ul> -->
          </div>
          <div class="group-10 mx-auto">
            <div class="overlap-group2">
              <div class="current-rate-1-sifi-00125-usdt">Current Rate<br />1 SiFi = 0.0125 BUSD</div>
              <div class="button-1">
                <div class="base-button-1 mt-3">
                  <button class="button_text-1 btn btn-link raleway-semi-bold-violet-red-16px" data-toggle="modal" data-target="#modelId">Click to view Rates</button>
                </div>
              </div>
            </div>
            <ul class="bullet-list">
                <li>Minimum buy= 125 BUSD, Maximum= 6250</li>
                <li>Total Token supply: 1,000,000,000 SiFi</li>
                <li>Tokens allocated for
                  Private Sale: 190,000,000 SiFi</li>
                  <li>Note: Earn referral rewards in BUSD by inviting your friends to buy SiFi tokens.</li>
              </ul>
          </div>
        </div>
      </div>
      <div style="background-color: var(--green-white);"  class="spacer por">
        <div class="container">
          <div class="token-item-groups mx-auto" style="width: 55%;">
            <div class="participate-in-the-s">Referral Link Generator</div>
            <div class="group-9">
              <div class="form-group">
                <input id = "address-link" type="text" class="dropdown-selector form-control" placeholder="Enter Your BSC Address (BEP-20 type)">
              </div>
              <div class="frame-container-1" style="width: 100%;">
                 <div class="text-center" style="display: flex; justify-content: center; width: 100%;">
                  <button id="get-link" class="btn btn-primary mr-3">Get Link</button>
                  <button id="copy-link" class="btn btn-outline-primary" >Copy</button>
                </div>
                </div>
              </div>
              <div id = 'link'></div>
              <div class="group-10 mx-auto mt-2">
                <ul class="bullet-list">
                    <li>Earn referral rewards in BUSD by inviting your friends to buy SiFi tokens.</li>
                    <!-- <li>get 5% referral reward for every successful invite</li> -->
                    <!-- <li>For example, your friend buys 1000 Sifi Coin then your recieve 50 Sifi Coin</li> -->
                  </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
      
  <!-- Modal -->
  <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">SIFI Token rates for
            Private Sale</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <thead class="thead-dark">
           <tr>
             <th>SIFI Token to be Sold</th>
             <th>Rate</th>
           </tr>
          </thead>
           <tr>
            <td>First 40 million</td>
            <td>0.0125 USDT</td>
           </tr>
           <tr>
            <td>Next 50 million</td>
            <td>0.015 USDT</td>
           </tr>
           <tr>
            <td>Next 50 million</td>
            <td>0.0175 USDT</td>
           </tr>
           <tr>
            <td>Next 50 million</td>
            <td>0.02 USDT</td>
           </tr>
          
          </table>
        </div>
     
      </div>
    </div>
  </div>
  <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content ">
        
        <div class="modal-body">
          <div class="container-fluid text-center">
            <img src="./img/success.gif" class="lgif" alt="">
            <h3 style="font-weight: bolder; color: #00B41D;" >You have successfully bought 
              <span  style="color: #f82c85"> <b id="modal-sifi-amount" > 50800</b> SiFi Tokens</span></h3>
              <p  class="lead mt-3">by using <b id="modal-busd-amount">230 BUSD</b></p>
              <p>
                <a id="modal-tx-link" href="https://bscscan.com/tx/0xc350629d32d7cec830c17a8c1357e5ce04fd1268dc7604844bd706c19db90dd2" class="btn btn-link" style="color: #f82c85;">Transaction Link</a>
               
              </p>
          </div>
        </div>
      
      </div>
    </div>
  </div>
  
  <script>
    // $('#exampleModal').on('show.bs.modal', event => {
    //   var button = $(event.relatedTarget);
    //   var modal = $(this);
    //   console.log("modal",modal)
    //   // Use above variables to manipulate the DOM
      
    // });
  </script>
   
    <!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="/javascripts/js/jQuery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="/javascripts/js/nextparticle.min.js"></script>
    <script src="/javascripts/js/bootstrap.min.js"></script>
    <script src="/javascripts/js/splitting.js"></script>
    <script src="/javascripts/js/bootstrap.min.js"></script>
    <script src="/javascripts/js/scroll-out.js"></script>
    <script src="/javascripts/js/controller.js"></script>-->
    <!-- <script src="/javascripts/js/main.js"></script>  -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/web3@1.2.11/dist/web3.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/web3modal@1.9.0/dist/index.js"></script>
    <script type="text/javascript" src="/javascripts/js/contract.js"></script>
    <script type="text/javascript" src="/javascripts/js/connect.js"></script>
    <script type="text/javascript" src="/javascripts/js/metamask.js"></script>

    <script>

      $("#enable-busd").click(function(){
        $(this).addClass('loader')
        setTimeout(function(){
          $("#enable-busd").removeClass("btn-primary");
          $("#enable-busd").addClass("btn-outline-primary");
          $("#enable-busd").removeClass("loader");
          $("#enable-busd").prop('disabled', true); 
          $("#swap").addClass("btn-primary");
      }, 900);
});

  $('#btn-private-sale').click(function() {
    $('#section-participate').get(0).scrollIntoView({behavior: 'smooth'});
  })
    </script>
</body>

</html>

<!-- // var myEl = document.getElementById("buynowButton");
// myEl.addEventListener("click", async function () {
// doTransaction(window.ethereum);
// });
// // var claimButton = document.getElementById("claimButton");
// // claimButton.addEventListener("click", async function () {
// // if (!targetAddress) {
// // swal("Error", "Referral Code is Required", "error");
// // }
// // console.log("claim =========================== ");
// // var referral_code = "<%- JSON.stringify(referral) %>";
    // // console.log(targetAddress, "<<<<<<<<<<<<<<<<<<<<"); // // window.location.href=//
        // "https://t.me/dpadFinanceAirdrop_bot?start=" + targetAddress; // // }); -->


        <!-- web3.eth.gevent() -->