<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/css/mobile.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/main-sifi.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/globals.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/mobile.css" />
    <link rel="icon" type="image/x-icon" href="../fav.png">

    <title>SiFi Finance</title>
    <style>
        .next-particle {
            display: none;
        }
    </style>

</head>

<body>
   
  <div class="main-sifi screen" >
   
      <section class="container-fluid por hero-section">
        <div class="index-1">
          
          <header class="header pt-3">
            <div class="container">
                <nav class="navbar navbar-expand-sm navbar-light bg-light p-0 bg-transparent">
                  <a class="navbar-brand" href="#">
                    <img width="120" src="./img/HQ1.png" alt="">
                  </a>
                  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                      aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                      <li class="nav-item active">
                        <a class="nav-link" href="#">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Support</a>
                      </li>
                     
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                      <button class="sifi-btn my-2 my-sm-0" id = 'connect-btn' type="submit">Connect Wallet</button>
                    </form>
                  </div>
                </nav>
  
        
            </div>
          </header>
           <div class="container h100">
             <div class="row mt-5 pt-5 align-items-center">
               <div class="col-md-6">
                <div class="group">
                  <h1 class="valign-text-middle montserrat-bold-cod-gray-55px">
                    Crypto investing<br>made simple
                  </h1>
                  <div class="a-simple-finance-por">
                    A simple Finance portfolio management platform<br>to invest in Web3 and Metaverse tokens.
                  </div>
                  <button href="#private-sale" class="sifi-btn mt-3">Join Private Sale </button>
                   
                </div>
               </div>
               <div class="col-md-6">
                <img class="hero-img" src="img/group@1x.svg">
               </div>
             </div>
           </div>
        </div>
    
       
      </section>
  
      <section id="private-sale" class="container-fluid por dual-color">
        <div class="row">
          <div class="container spacer">
            <div class="row align-items-center index-1 db-rc">
              <div class="col right-arrow">
                <div class="participate-in-the-s valign-text-middle montserrat-bold-cod-gray-55px">
                  Participate In
                  The SiFi Token
                  Private Sale
                </div>
                <div id = "referrer" style="text-align: center; margin: 10px;"></div>
              </div>
              <div class="col">
                <div class="group-container ml-5">
                  <div class="group-3">
                    <div class="group-6">
                      <div class="form-group por">
                        <label for="" class="d-flex justify-content-between"  >Enter BUSD Amount
                          <div id="wallet-balance" class="amount-100" >Amount: 100</div>
                        </label>
                        <input type="text" id="amount-input" class="sifi-input" placeholder="Enter BUSD Amount">
                        <div class="rectangle-2"  id = "max-amount">
                          Max
                        </div>
                      </div>
                    </div>
        
                    <div class="group-4">
                  
                      <button class="sifi-btn"  id ="enable-busd">Enable BUSD</button>
                      <button class="sifi-btn bg-white ml-4" id = "swap" data-toggle="modal">Buy</button>
                    </div>
      
    
                    <div class="group-5">
                      <div class="overlap-group-1 border-1px-black" style="border-style: dashed">
                        <div class="you-get-15533333-si-fi valign-text-middle titlesmallreg">
                          <span
                            ><span class="span titlesmallreg">You get: </span
                            ><span class="span1 titlesmallreg"  id="u-get" >0.000</span><span class="span titlesmallreg"> SiFi</span>
                          </span>
                        </div>
                      </div>
                      <p class="web3-wallet-not-con" id = "connected-label" >
                        *Web3 wallet not connected. Open this site in Trust<br />
                        wallet or Metamask dApp browser.
                      </p>
                    </div>
                  </div>
               
                  <div class="d-flex align-items-center my-4">
                    <h4 class="bold m-0">
                      Current Rate <br>
                      1 SiFi = 0.015 BUSD
                    </h4>
                    <button class="sifi-btn-outline ml-3" style="background: #c3ead8;" data-toggle="modal" data-target="#modelId">View Rates</button>
                  </div>
    
                  <ul class="bullet-list">
                    <li>Minimum buy= 125 BUSD, Maximum= 6250</li>
                    <li>Total Token supply: 1,000,000,000 SiFi</li>
                    <li>Tokens allocated for
                      Private Sale: 190,000,000 SiFi</li>
                      <li>Note: Earn referral rewards in BUSD by inviting your friends to buy SiFi tokens.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
       
      </section>
  <section class="spacer container-fluid" style="background: #c3ead8">
    <div class="container ref-container">
      <div class="referral-link-generator valign-text-middle montserrat-bold-cod-gray-55px mb-5">
        Referral Link Generator
      </div>
    
      <div class="form-group por">
        <label for="">Referral Link</label>
        <div class="d-flex align-items-center ref-col">
        <input type="text" id="address-link" class="sifi-input mt-0" placeholder="Enter Your BSC Address (BEP-20 type)">
        <div class="btns-ref">
          <button id="get-link" class="sifi-btn mx-3">Get Link</button>
          <button id="copy-link" class="sifi-btn bg-white">Copy</button>
        </div>
      
        </div>
        <p style="margin-top: 20px;" id="link"></p>
        <p class="earn-referral-reward inter-normal-shark-16px mt-3">
          Earn referral rewards in BUSD by inviting your friends to buy SiFi tokens.
        </p>
      </div>
     
    </div>
    
  </section>

  <section class="container-fluid por dual-color">
    <div class="row">
      <div class="container spacer">
        <div class="row align-items-center index-1 db-rc">
          <div class="col right-arrow hey">
            <div class="participate-in-the-s valign-text-middle montserrat-bold-cod-gray-55px hey-title">
              Hey, <br>
              I am SIFI
            </div>
            <div id = "referrer" style="text-align: center; margin: 10px;"></div>
          </div>
          <div class="col">
            <ul class="bullet-list hey-list">
              <li>I am a prtfolio management app.</li>
              <li>I can be used by an average Joe.</li>
              <li>I provide best crypto baskets to invest in.</li>
                <li>I am Super safe and have no hidden fees.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
   
  </section>





  <!-- Modal -->
  <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">SIFI Token rates for
            Private Sale</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <thead class="thead-dark">
           <tr>
             <th>SIFI Token to be Sold</th>
             <th>Rate</th>
           </tr>
          </thead>
           <tr>
            <td>First 40 million</td>
            <td>0.0125 USDT</td>
           </tr>
           <tr class="active">
            <td>Next 50 million</td>
            <td>0.015 USDT</td>
           </tr>
           <tr>
            <td>Next 50 million</td>
            <td>0.0175 USDT</td>
           </tr>
           <tr>
            <td>Next 50 million</td>
            <td>0.02 USDT</td>
           </tr>
          
          </table>
        </div>
     
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content ">
        
        <div class="modal-body">
          <div class="container-fluid text-center">
            <img src="./img/success.gif" class="lgif" alt="">
            <h3 style="font-weight: bolder; color: #00B41D;" >You have successfully bought 
              <span  style="color: #f82c85"> <b id="modal-sifi-amount" > 50800</b> SiFi Tokens</span></h3>
              <p  class="lead mt-3">by using <b id="modal-busd-amount">230 BUSD</b></p>
              <p>
                <a id="modal-tx-link" href="https://bscscan.com/tx/0xc350629d32d7cec830c17a8c1357e5ce04fd1268dc7604844bd706c19db90dd2" class="btn btn-link" style="color: #f82c85;">Transaction Link</a>
               
              </p>
          </div>
        </div>
      
      </div>
    </div>
  </div>
  
  <script>
    // $('#exampleModal').on('show.bs.modal', event => {
    //   var button = $(event.relatedTarget);
    //   var modal = $(this);
    //   console.log("modal",modal)
    //   // Use above variables to manipulate the DOM
      
    // });
  </script>
   
    <!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="/javascripts/js/jQuery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="/javascripts/js/nextparticle.min.js"></script>
    <script src="/javascripts/js/bootstrap.min.js"></script>
    <script src="/javascripts/js/splitting.js"></script>
    <script src="/javascripts/js/bootstrap.min.js"></script>
    <script src="/javascripts/js/scroll-out.js"></script>
    <script src="/javascripts/js/controller.js"></script>-->
    <!-- <script src="/javascripts/js/main.js"></script>  -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/web3@1.2.11/dist/web3.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/web3modal@1.9.0/dist/index.js"></script>
    <script type="text/javascript" src="/javascripts/js/contract.js"></script>
    <script type="text/javascript" src="/javascripts/js/connect.js"></script>
    <script type="text/javascript" src="/javascripts/js/metamask.js"></script>

    <script>

     
  

  $('#btn-private-sale').click(function() {
    $('#section-participate').get(0).scrollIntoView({behavior: 'smooth'});
  })
    </script>
</body>

</html>

<!-- // var myEl = document.getElementById("buynowButton");
// myEl.addEventListener("click", async function () {
// doTransaction(window.ethereum);
// });
// // var claimButton = document.getElementById("claimButton");
// // claimButton.addEventListener("click", async function () {
// // if (!targetAddress) {
// // swal("Error", "Referral Code is Required", "error");
// // }
// // console.log("claim =========================== ");
// // var referral_code = "<%- JSON.stringify(referral) %>";
    // // console.log(targetAddress, "<<<<<<<<<<<<<<<<<<<<"); // // window.location.href=//
        // "https://t.me/dpadFinanceAirdrop_bot?start=" + targetAddress; // // }); -->


        <!-- web3.eth.gevent() -->