<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/main-sifi.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/globals.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/mobile.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
   
    <title>SiFi Finance</title>
    <style>
        .next-particle {
            display: none;
        }
    </style>

</head>

<body>
   
  <div class="main-sifi screen" >
   
      <section class="container-fluid por hero-section">
        <div class="index-1">
          
          <header class="header pt-3">
            <div class="container">
                <nav class="navbar navbar-expand-sm navbar-light bg-light p-0 bg-transparent">
                  <a class="navbar-brand" href="#">
                    <img width="120" src="./img/HQ1.png" alt="">
                  </a>
                  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                      aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                      <li class="nav-item active">
                        <a class="nav-link" href="#about">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link page" href="#Roadmap">Roadmap</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link page" href="#Tokenomics">Tokenomics</a>
                      </li>
                     
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                      <button class="sifi-btn my-2 my-sm-0" id = 'connect-btn' type="submit">Connect Wallet</button>
                    </form>
                  </div>
                </nav>
  
        
            </div>
          </header>
           <div class="container h100">
             <div class="row mt-5 pt-5 align-items-center">
               <div class="col-md-6">
                <div class="group">
                  <h1 class="valign-text-middle montserrat-bold-cod-gray-55px">
                    Crypto investing<br>made simple
                  </h1>
                  <div class="a-simple-finance-por">
                    A simple Finance portfolio management platform<br>to invest in Web3 and Metaverse tokens.
                  </div>
                  <button href="#private-sale" id="btn-private-sale" class="sifi-btn private-sale-live page mt-3">Join Private Sale </button>
                   
                </div>
               </div>
               <div class="col-md-6">
                <div class="hero-img">
                <img class="hero-img" src="./img/sifi finance 4k_2.png" alt="">
                  <!-- <video autoplay muted controls loop>

                    <source src="./img/video.mp4"
                            type="video/mp4">
                    Sorry, your browser doesn't support embedded videos.
                </video>
                 -->
                </div>
               </div>
             </div>
           </div>
        </div>
    
       
      </section>
  
      <section id="private-sale"  class="container-fluid por dual-color">
        <div class="row">
          <div class="container spacer">
            <div class="row align-items-center index-1 db-rc">
              <div class="col right-arrow">
                <div class="participate-in-the-s valign-text-middle montserrat-bold-cod-gray-55px">
                  Participate In
                  The SiFi Token
                  Private Sale
                </div>
                <div id = "referrer" style="margin: 10px;"></div>
              </div>
              <div class="col">
                <div class="group-container ml-5">
                  <div class="group-3">
                    <div class="group-6">
                      <div class="form-group por">
                        <label for="" class="d-flex justify-content-between"  >&nbsp;
                          <div id="wallet-balance" class="amount-100" >Balance: 0.000 BUSD</div>
                        </label>
                        <input type="number" id="amount-input" class="sifi-input" placeholder="Enter BUSD Amount">
                        <div class="rectangle-2"  id = "max-amount">
                          Max
                        </div>
                      </div>
                    </div>
        
                    <div class="group-4" style="align-items: center;">
                      <button class="sifi-btn"  id ="enable-busd">Enable BUSD</button>
                      <button disabled style="color: black;" class="sifi-btn bg-white ml-4" id = "swap" data-toggle="modal">Buy</button>
                      <a href="./img/How to Buy Sifi tokens.pdf" target="_blank" class="sifi-btn-outline ml-3 htb" style="background: #c3ead8;
                      display: block;
                      color: #000; margin-left: 60px;">How to buy?</a>
                    </div>
      
    
                    <div class="group-5">
                      <div class="overlap-group-1 border-1px-black" style="border-style: dashed">
                        <div class="you-get-15533333-si-fi valign-text-middle titlesmallreg">
                          <span
                            ><span class="span titlesmallreg">You get: </span
                            ><span class="span1 titlesmallreg"  id="u-get" >0.000</span><span class="span titlesmallreg"> SiFi</span>
                          </span>
                        </div>
                      </div>
                      <p class="web3-wallet-not-con" id = "connected-label" >
                        *Web3 wallet not connected. Open this site in Trust<br />
                        wallet or Metamask dApp browser.
                      </p>
                    </div>
                  </div>
               
                  <div class="sold-container" style="width: 73%;">
                  
                    <button class="sifi-btn-outline ml-3 mt-5 py-3" style="background: #fff;" data-toggle="modal" data-target="#modelId">Click to view Rates</button>
                    <ul class="round-list mt-4">
                      <li>
                        Round I - <button class="btn">SOLD OUT</button>
                      </li>
                      <li>
                       Round II - <button class="btn">SOLD OUT</button>
                      </li>
                    </ul>
                  </div>
    
               
                </div>
              </div>
            </div>
          </div>
        </div>
       
      </section>

      <section class="spacer container-fluid" style="background: #c3ead8">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="referral-link-generator valign-text-middle montserrat-bold-cod-gray-55px mb-5">
                How to buy
              </div>
             
              <div class="a-simple-finance-por">
                A short video to make you understand how you can <br> buy Sifi in just a few steps.<br><br> 2 minutes short clip for a better experience.
              </div>
              <a href="https://sifi.gitbook.io/sifi-whitepaper/"  class="sifi-btn bg-white private-sale-live page mt-5 sfwp" style="display: inline-block; color: #333;">WHITEPAPER</a>
              <!-- <p class="mt-4 ml-4">
                <a href="" style="text-decoration: underline; color: #333; font-weight: bold;">Read WHITEPAPER</a> 
              </p> -->
             
            </div>
            <div class="col-md-6">
              <iframe style="width: 100%;
              border-radius: 30px 4px;" height="350" src="https://www.youtube.com/embed/k_NPAVvhvWo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
  
        </div>
        
      </section>


  <section class="spacer container-fluid" style="background: #FEF86B" id="referral">
    <div class="container ref-container">
      <div class="referral-link-generator valign-text-middle montserrat-bold-cod-gray-55px mb-5 text-center">
        Referral Link Generator
      </div>
    
      <div class="form-group por">
      
        <div class="d-flex align-items-center ref-col">
        <input type="text" id="address-link" class="sifi-input mt-0" placeholder="Enter Your BSC Address (BEP-20 type)">
        <div class="btns-ref">
          <button id="get-link" class="sifi-btn mx-3">Get Link</button>
          <button id="copy-link" class="sifi-btn bg-white">Copy</button>
        </div>
      
        </div>
        <p style="margin-top: 20px;" id="link"></p>
        <p class="earn-referral-reward inter-normal-shark-16px mt-3 dot">
          Earn referral rewards in BUSD by inviting your friends to buy SiFi tokens.
        </p>
      </div>
     
    </div>
    
  </section>

  <!-- <section class="container-fluid por dual-color">
    <div class="row">
      <div class="container spacer">
        <div class="row align-items-center index-1 db-rc">
          <div class="col-md-6 right-arrow hey col-xs-12">
            <div class="participate-in-the-s valign-text-middle montserrat-bold-cod-gray-55px hey-title">
              Hey, <br>
              I am SIFI
            </div>
            <div id = "referrer" style="margin: 10px;"></div>
          </div>
          <div class="col-md-6 col-xs-12">
            <ul class="bullet-list hey-list">
              <li>I am a portfolio management app.</li>
              <li>I can be used by an average Joe.</li>
              <li>I provide best crypto baskets to invest in.</li>
                <li>I am Super safe and have no hidden fees.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
   
  </section> -->

  <section class="container-fluid por" style="background-color: #C7D4F1;" id="about">
    <div class="row">
      <div class="container spacer">
        
        <div class="row align-items-center">
          <div class="col-md-6 col-xs-12">
            <div class="montserrat-bold-cod-gray-55px">
              <img src="./img/sifi-text-logo.svg"  alt="">
            </div>
            <p class="earn-referral-reward inter-normal-shark-16px my-3">
             Today only around 200 million people in the world own crypto, which is about 2.5% of the global population. Our goal is to make crypto simple and accessible for 1 million users through our unique gamified approach.
            </p> 
            <a href="https://sifi.gitbook.io/sifi-whitepaper/" style="display: inline-block;"  class="sifi-btn private-sale-live page mt-3 bg-white">WHITEPAPER</a>
          </div>


          <div class="col-md-6 col-xs-12">
          <ul class="shadow-list ">
            <li  class="show-s" >I am a portfolio management app.</li>
            <li class="show-s" >I can be used by an average Joe.</li>
            <li class="show-s">I provide best crypto baskets to invest in.</li>
            <li class="show-s">I am super safe and have no hidden fees.</li>
          </ul>
          </div>


        </div>

      
      </div>
    </div>
   
  </section>


  <section class="container-fluid por" style="background-color: #C3EAD8;" id="features">
    <div class="row">
      <div class="container spacer">
      
        <div class="gallery-slider-row row">
          <div class="col-md-5 col-xs-12 por wasf">
            <div class="montserrat-bold-cod-gray-55px mb-3">
              What are<br>
              Sifi Features?
            </div>
            <p class="earn-referral-reward inter-normal-shark-16px">
              The 4 main features are:
             </p> 
             <img class="sifi-light" src="./img/HQ1.png" alt="">
            </div>

          <div class="col-md-7 col-xs-12">
            <ul class="show-s-container" >
              <li class="show-s fadeInUp active"  onclick="galleryTop.slideTo(0)">
                Crypto Baskets
              </li>
              <li class="show-s" onclick="galleryTop.slideTo(1)">
                Optimus
                </li>
                <li class="show-s fadeInUp slower"
                onclick="galleryTop.slideTo(2);animateCounter()">
                Lending/ Borrowing
                </li>
                <li class="show-s fadeInUp slower"
                onclick="galleryTop.slideTo(3);animateCounter()">
                Flat On-Ramp
                </li>
          </ul>

            <div class="swiper-container gallery-top">
              <div class="swiper-wrapper pb-5">
                <div class="swiper-slide" data-hash="slide1">
                    <div class="shadow-box text-center">
                      <img src="./img/one.png" style="width: 60%;"  alt="">
                      <p class="para">
                        Invest in baskets of coins across DEFi, NFT, Metaverse, etc specially curated by top portfolio managers
                      </p>
                    </div>
                </div>
                <div class="swiper-slide" data-hash="slide1">
                  <div class="shadow-box text-center">
                    <img src="./img/three.png"  alt=""> 
                  
                 
                    <p class="para">
                      Earn fixed ROI on your crypto holdings 
                      by lending through our P2P feature.
                    </p>
                  </div>
              </div>
              <div class="swiper-slide" data-hash="slide1">
                <div class="shadow-box text-center">
                  <img src="./img/two.png"  alt="">
                  <p class="para">
                    Invest in baskets that are
                    optimized for Low, Medium 
                    and High risk to reward ratio.
                  </p>
                </div>
            </div>
            <div class="swiper-slide" data-hash="slide1">
              <div class="shadow-box text-center">
                <img src="./img/four.png"  alt="">
                <p class="para">
                  Easily convert crypto to fiat and 
                  vice-versa on SiFi App.
      
                </p>
              </div>
          </div>
        
            
            
              </div>
             
            </div>
           </div>
   
        
       </div>
      
       
      </div>
    </div>
   
  </section>


  <section class="container-fluid por" style="background-color: #C7D4F1;" id="Roadmap">
    <div class="row">
      <div class="container spacer">
        <div class="montserrat-bold-cod-gray-55px mb-5 text-center">
          ROADMAP
        </div>

        <div class="swiper-container gallery-top3">
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-wrapper pb-5">
            <div class="swiper-slide" data-hash="slide1">
              <div class="shadow-box text-center mb-4" style="background-color: #fef86b; font-weight: bold;">
                Q2 2022
              </div>
                <div class="shadow-box">
                  <ul class="list-item">
                    <li> Concept Building</li>
                   <li> Team Formation</li>
                   <li>Logo Release</li>
                    <li> Brand Guidelines and Theme</li>
                  </ul>
                </div>
            </div>
            <div class="swiper-slide" data-hash="slide2">
              <div class="shadow-box text-center mb-4" style="background-color: #fef86b; font-weight: bold;">
                Q3 2022
              </div>
              <div class="shadow-box">
                <ul class="list-item">
                  <li>Token development</li>
                  <li>Website V1 Launch</li>
                  <li>Whitepaper V1</li>
                  <li>Private Sale Funding</li>
                  <li>Press Release</li>
                  <li>Audit</li>
                </ul>
              </div>
          </div>
          <div class="swiper-slide" data-hash="slide3">
            <div class="shadow-box text-center mb-4" style="background-color: #fef86b; font-weight: bold;">
              Q4 2022
            </div>

            <div class="shadow-box text-center">
              <ul class="list-item">
                <li>Hyped Marketing Push</li>
                <li>Influencer Marketing</li>
                <li>Twitter Trending</li>
                <li>
                  Community Giveaway Campaigns
                </li>
                <li>Coinmarketcap Airdrop Campaign</li>
                <li>Whitelist campaign</li>
                <li>Partnership Drive</li>
                <li>IDO</li>
            </ul>
            </div>
        </div>
        <div class="swiper-slide" data-hash="slide4">
          <div class="shadow-box text-center mb-4" style="background-color: #fef86b; font-weight: bold;">
            Q2 2023
          </div>

          <div class="shadow-box">
            <ul class="list-item">
              <li>Pancakeswap Listing</li>
              <li>Dextools Trending</li>
              <li>Celebrity Ambassador Campaign</li>
              <li>CEX Listing</li>
              <li> Beta App Launch</li>
              <li>NFT Collection Launch</li>
            </ul>
          </div>
      </div>
      <div class="swiper-slide" data-hash="slide5">
        <div class="shadow-box text-center mb-4" style="background-color: #fef86b; font-weight: bold;">
          Q1 2023
        </div>
        <div class="shadow-box">
          <ul class="list-item">
            <li>SiFi Global Meetups</li>
            <li>Token Buy Back</li>
            <li>SiFi Army Campaign</li>
            <li>Digital Advertising Campaigns</li>
          </ul>
        </div>
    </div>
          </div>
        </div>

        <ul class="show-s-container " >
         
       <span class="por" style="display: flex;
       width: 100%;">
        <h4 style="position: absolute;
        top: -26px;
        font-weight: 800;">2022:</h4>
        <li class=" fadeInUp active"  onclick="galleryTop3.slideTo(0)">
          Q2 2022
        </li>
        <li class="" onclick="galleryTop3.slideTo(1)">
          Q3 2022
          </li>
          <li class="fadeInUp slower"
          onclick="galleryTop3.slideTo(2);animateCounter()">
          Q4 2022

          </li>
      
       </span>
        <span class="por mt-5" style="display: flex;
        width: 100%;">
          <h4 style="position: absolute;
          top: -26px;
          font-weight: 800;">2023:</h4>
          <li class="fadeInUp slower"
          onclick="galleryTop3.slideTo(3);animateCounter()">
          Q2 2023
          </li>
          <li class="fadeInUp slower"
          onclick="galleryTop3.slideTo(4);animateCounter()">
          Q1 2023
          </li>
        
        </span>
          
      </ul>


 
      </div>
    </div>
  </section>


  <section class="container-fluid por" style="background-color: #C3EAD8; z-index: 100;" id="Tokenomics">
    <div class="row">
      <div class="container spacer">
        <div class="montserrat-bold-cod-gray-55px text-center mb-5">
          Tokenomics
        </div>
        <div class="row align-items-center token-row">
          <div class="col text-center">
            <div class="l-text">
             <h4>1 bn</h4>
             <span>Total Supply</span>
            </div>
          </div>
          <div class="col text-center ">
            <div class="l-text no-dot">
             <h4>Binance SmartChain</h4>
             <span>Network</span>
            </div>
          </div>
          <div class="col text-center">
            <div class="l-text">
             <h4>2%</h4>
             <span>Tax</span>
            </div>
          </div>
        </div>
        <ul class="attach-token mt-5">
          <li>
            <span>Token Sale</span>
            <button class="sifi-btn">220 M</button>
          </li>
          <li>
            <span>Liquidity</span>
            <button class="sifi-btn">80 M</button>
          </li>
          <li>
            <span>Development</span>
            <button class="sifi-btn">30 M</button>
          </li>
          <li>
            <span>Staking Rewards</span>
            <button class="sifi-btn">80 M</button>
          </li>
          <li>
            <span>Airdop</span>
            <button class="sifi-btn">20 M</button>
          </li>
          <li>
            <span>Marketing & Partnerships</span>
            <button class="sifi-btn">120 M</button>
          </li>
          <li>
            <span>Ecosystem 
              Development</span>
            <button class="sifi-btn">80 M</button>
          </li>
          <li>
            <span>DAO/Reserve</span>
            <button class="sifi-btn">250 M</button>
          </li>
          <li>
            <span>Team & Advisors</span>
            <button class="sifi-btn">40 M</button>
          </li>
          
        </ul>

        <div class="group-container d-flex mt-5 justify-content-center">
          <div class="group-3">
            <div class="group-6">
              <div class="form-group por">
                <label for="" class="d-flex justify-content-between">&nbsp;
                  <div class="amount-100">Sifi Token Contract</div>
                </label>
                <input type="number"  class="sifi-input mt-1" readonly disabled placeholder="0xC2dB8c59ce4042C970B8C48e273E97C2b49A7D69">
             
              </div>
            </div>

            <div class="group-4" style="align-items: center;
            justify-content: center;
            margin: auto;">
              <button class="sifi-btn bg-white" onclick="copyTextToClipboard('0xC2dB8c59ce4042C970B8C48e273E97C2b49A7D69')" >Copy</button>
              <button onclick="redirectToBsc()" class="sifi-btn mx-4" >Bscscan</button>
              <button class="sifi-btn bg-white qr" data-toggle="modal" data-target="#qrscan">QR Code</button>
             
            </div>
          </div>
   
        </div>

      </div>
    </div>
   
  </section>
  <section class="container-fluid por">
    <div class="row thr-col">
      <a class="page" href="#private-sale" style="color:var(--black)">
      <div class="col shadow-box" style="background-color: #C3EAD8;">
          ENTER PRIVATE SALE
      </div>
    </a>
    <a class="page" href="#referral" style="color:var(--black)">
      <div class="col shadow-box" style="background-color: #FEF86B;">
          REFERRAL LINK GENERATOR
      </div>
    </a>
    <a class="page" href="#Tokenomics" style="color:var(--black)">
      <div class="col shadow-box" style="background-color: #C7D4F1;">
        TOKENOMICS
      </div>
    </a>
    </div>

  </section>
  <section class="container-fluid por">
    <div class="row thr-col">
      <a class="page" href="#about" style="color:var(--black)">
      <div class="col shadow-box" style="background-color: #C7D4F1; height: 200px;">
          DOCUMENTATION
       
      </div>
    </a>
    <a class="page" href="#Roadmap" style="color:var(--black)">
        <div class="col shadow-box" style="background-color: #C3EAD8; height: 200px;">
            ROADMAP
      </div>
    </a>
    </div>
  </section>

  <footer class="footer spacer" style="background-color: #FEF86B;">
    <div class="container">
      <div class="row">
        <div class="col">
          <a class="navbar-brand" href="/">
            <img width="120" src="./img/HQ1.png" alt="">
          </a>
          <h4 class="footer-logo">Sifi Finance</h4>
        </div>
          <div class="col">
           <ul class="footer-list">
             <li><a href="#about">About</a></li>
             <li><a href="">Buy Sifi token.</a></li>
           </ul>
        </div>
        <div class="col">
          <ul class="footer-list">
            <li><a href="https://twitter.com/sififinance" target="_blank">Twitter</a></li>
            <li><a href="https://t.me/sififinance" target="_blank">Telegram</a></li>
            <li><a href="https://www.instagram.com/sififinance/" target="_blank">Instagram</a></li>
          </ul>
       </div>
      </div>
    </div>
  
    <a href="#referral" class="float-icon page">
      Referral
    </a>
  </footer>
  <!-- Modal -->
  <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">SIFI Token rates for
            Private Sale</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <thead >
           <tr>
             <th>SIFI Token to be Sold</th>
             <th>Rate</th>
           </tr>
          </thead>
           <trx>
            <td>First 40 million</td>
            <td>0.0125 BUSD</td>
           </tr>
           <tr  >
            <td>Next 50 million</td>
            <td>0.015 BUSD</td>
           </tr>
           <tr id="active-view-rates">
            <td >Next 50 million</td>
            <td>0.0175 BUSD</td>
           </tr>
           <tr>
            <td>Next 50 million</td>
            <td>0.02 BUSD</td>
           </tr>
          
          </table>
        </div>
     
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->
  
  <!-- Modal -->
  <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content ">
        
        <div class="modal-body">
          <div class="container-fluid text-center">
            <img src="./img/success.gif" style="width: 100%;" class="lgif" alt="">
            <h3 style="font-weight: bolder; color: #00B41D; line-height: 2;" >You have successfully bought 
              <span  style="color: #f82c85"> <b id="modal-sifi-amount" > 50800</b> SiFi Tokens</span></h3>
              <p  class="lead mt-3">by using <b id="modal-busd-amount">230 BUSD</b></p>
              <p class="mt-3">
                <a id="modal-tx-link" href="https://bscscan.com/tx/0xc350629d32d7cec830c17a8c1357e5ce04fd1268dc7604844bd706c19db90dd2" class="btn btn-link" style="color: #f82c85;">Transaction Link</a>
              </p>
          </div>
        </div>
      
      </div>
    </div>
  </div>
  
  <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="qrscan" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sqan QR Code</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <img class="hero-img" src="./img/qr.jpeg" alt="">
        </div>
       
      </div>
    </div>
  </div>
  <script>
    // $('#exampleModal').on('show.bs.modal', event => {
    //   var button = $(event.relatedTarget);
    //   var modal = $(this);
    //   console.log("modal",modal)
    //   // Use above variables to manipulate the DOM
      
    // });
  </script>
   
    <!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="/javascripts/js/jQuery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="/javascripts/js/nextparticle.min.js"></script>
    <script src="/javascripts/js/bootstrap.min.js"></script>
    <script src="/javascripts/js/splitting.js"></script>
    <script src="/javascripts/js/bootstrap.min.js"></script>
    <script src="/javascripts/js/scroll-out.js"></script>
    <script src="/javascripts/js/controller.js"></script>-->
    <!-- <script src="/javascripts/js/main.js"></script>  -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/web3@1.2.11/dist/web3.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/web3modal@1.9.0/dist/index.js"></script>
    <script type="text/javascript" src="/javascripts/js/contract.js"></script>
    <script type="text/javascript" src="/javascripts/js/connect.js"></script>
    <script type="text/javascript" src="/javascripts/js/metamask.js"></script>
    <script type="text/javascript" src="/javascripts/js/swiper.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/swiper-modifyer.js"></script>

    <script>

     
  
$(window).scroll(function(){
	var sticky = $('.sticky-col'),
		scroll = $(window).scrollTop();
	if (scroll >= 3200) sticky.addClass('fixed');
	else sticky.removeClass('fixed');
  });



  $('#btn-private-sale').click(function() {
    $('#private-sale').get(0).scrollIntoView({behavior: 'smooth'});
  })

  
$(function() {
    $('a.page').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
        }, 1500);
        event.preventDefault();
    });
});

    </script>
</body>

</html>

<!-- // var myEl = document.getElementById("buynowButton");
// myEl.addEventListener("click", async function () {
// doTransaction(window.ethereum);
// });
// // var claimButton = document.getElementById("claimButton");
// // claimButton.addEventListener("click", async function () {
// // if (!targetAddress) {
// // swal("Error", "Referral Code is Required", "error");
// // }
// // console.log("claim =========================== ");
// // var referral_code = "<%- JSON.stringify(referral) %>";
    // // console.log(targetAddress, "<<<<<<<<<<<<<<<<<<<<"); // // window.location.href=//
        // "https://t.me/dpadFinanceAirdrop_bot?start=" + targetAddress; // // }); -->


        <!-- web3.eth.gevent() -->