
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600|Noto+Sans:400,700");
body {
  font-family: var(--font-family-raleway);
}
.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}
.por {
  position: relative !important;
}
.spacer {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;

}
.spacer-top {
  padding-top: 80px;
  width: 100%;
 
}
.spacer-bottom {
  padding-bottom: 80px;
  width: 100%;
}
.btn-primary {
  background-color: var(--violet-red);
  border-radius: 8px 8px 8px 20px;
  padding: 10px 30px;
  border: none;
}
.btn-primary ,.btn-primary:hover{
  color: #fff;
  background-color:  var(--violet-red);
  border-color:  var(--violet-red);
}
.btn-primary:hover {
  background-color: #cd1163;
}
.btn-shadow-h {
  position: relative;
  cursor: pointer;
}
.btn-shadow-h:before {
  content: '';
  align-items: flex-start;
  background-color: var(--violet-red-2);
  border-radius: 20px;
  display: flex;
  height: 100%;
  left: 21px;
  min-width: 100%;
  /* padding: 21px 69px; */
  position: absolute;
  top: 22px;
  filter: blur(18px);
}

