/* mobile css START herer =====================================*/
@media (max-width: 767px) {
    :root {
        --font-size-xxl: 35px;
    }
    .ref-container {
        justify-content: center;
         display: flex;
         flex-direction: column;
         align-items: center;
       }

       .hey-title {
        margin-right: 0;
        text-align: right;
        font-size: 52px !important;
        text-align: center;
}

       .ref-col {
        flex-direction: column;
      }
      .hero-section {
        height: 100%;
        position: relative;
        background-color: #c3ead8;
        padding-bottom: 50px;
}
.hero-section .pt-5 {
    padding-top: 0 !important;
}
.group-container.ml-5 {
    margin-left: 0 !important;
}
.col.right-arrow {
    padding-bottom: 120px;
}

.dual-color::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(254, 248, 107);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    height: 327px;
}
.right-arrow::before {
    content: "";
    border-width: 30px;
    border-style: solid;
    border-image: initial;
    border-color: rgb(254 248 107) rgba(0, 128, 0, 0) rgba(0, 0, 255, 0) rgb(254 248 107 / 0%);
    position: absolute;
    right: -61px;
    top: inherit;
    bottom: -8px;
    margin: auto;
    height: 30px;
    left: 0;
    right: 0;
    margin: auto;
    width: 45px;
}
.db-rc {
    margin: 0 !important;
}
.dual-color:after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #C7D4F1;
    position: absolute;
    right: 0;
    top: 0;
}
.sifi-input {
    min-width: 100%;
    width: 100%;
}
.a-simple-finance-por {
    color: var(--greysclae600);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.7;
    margin-top: 30px;
    min-height: 76px;
    width: 100%;
}
.hero-section:after {
    content: '';
    width: 100%;
    height: 388px;
    background-color: #fef86b;
    position: absolute;
    right: 0;
    top: 0;
}
.group-6 {
    width: 100%;
}
.form-group {
    margin-bottom: 1rem;
    width: 100%;
}

.earn-referral-reward {
    letter-spacing: 0;
    line-height: 28px;
    margin-top: -1px;
    min-width: none;
    font-size: 14px !important;
}
.sifi-btn {
  
    padding: 10px 36px;
   
}
.group-4 {
    min-width: 100%;
    flex-wrap: wrap;
        justify-content: center;
}
.group-4  a.sifi-btn-outline.ml-3{
    margin-top: 20px;
    margin-left: 0 !important;
}

.overlap-group-1 {
    border-radius: 4px;
    height: 47px;
    min-width: 94%;
    padding: 11px 22px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
h4.bold.m-0 {
    font-size: 19px;
}
.btns-ref .sifi-btn {
    margin: 15px;
}

.referral-link-generator {
    height: inherit;
    letter-spacing: 0;
    min-width: 100%;
    margin-bottom: 40px !important;
    text-align: center;
}
.hero-img {
    margin-top: 50px;
}
.navbar-toggler {
    border-radius: 4px;
        box-shadow: 4px 4px 0px #000000;
        padding: 14px 40px;
        border: 1px solid #000;
        padding: 2px 7px;
}
.navbar-collapse {
    box-shadow: 4px 4px 0px #000000;
    border: 1px solid rgba(0, 0, 0, 0.247);
    margin-top: 20px;
}
.navbar .form-inline {
    display: flex;
    justify-content: center;
}
.btns-ref {
    display: flex;
}
.hey {
    height: 276px;
}
.gallery-top .swiper-slide {
    padding-right: 10px;
    /* width: 100% !important; */
}
.sf-box {
    margin-right: 10px;
}

.sticky-col.fixed .fixed-title {
    position: initial;
          top: 150px;
  }
  .sticky-col.fixed .right-arrow:before {
    bottom: inherit;
    right: -2px;
    top: 0;
    z-index: 1;
    position: initial;
    left: 662px;
    top: 134px;
  }

 .rdmp.dual-color::before {
    height: 177px !important;
  }
  .rdmp .right-arrow {
    top: -50px;
    z-index: 2;
    text-align: center;
}
.timeline-vr li h4 {
 
    right: 15%;
}
.timeline-vr li:nth-child(even) h4 {
    right: inherit;
    left: 15%;
}
.attach-token li {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}
.l-text {
    margin-top: 15px;
    margin-bottom: 15px;
}
.thr-col .col {
    height: 200px;
}
.qr {
    margin-top: 15px;
}
.group-4 .mx-4{
    margin-right: 0 !important;
}

.sold-container {
    margin: auto;
    width: 90% !important;
    text-align: center;
  }
  .sold-container > button {
      margin-left: 0 !important;
  }
  .round-list li {

    padding: 10px 8px;
    margin: 15px;
  }
  .round-list li .btn {
      padding: 5px;
  }

  .show-s-container li {
    padding: 20px 7px;
    width: 147px;
    background: #fff;
    border: 1px solid #000000;
    box-shadow: 2px 2px 2px #000000;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
        display: flex;
        justify-content: center;
}
.sifi-light {
    display: none;
}
.wasf {
    text-align: center;
    margin-bottom: 20px;
}
.gallery-top3 {
    width: 100%;
    margin: auto;
}
.sfwp {
        margin-bottom: 40px;
        margin-top: 15px !important;
}
.token-row .col{
    margin-top: 30px;
    margin-bottom: 30px;
}
.attach-token li {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 50px;
}
.group-4 a.sifi-btn-outline.ml-3.htb{
    margin-left: 0 !important;
  }

  .l-text {
 
 
    padding: 5px 12px;
 
}
.token-row {
    flex-wrap: NOWRAP;
  }
  .l-text h4 {
    font-size: 24px;
  
}
.yt-sifi {
    border-radius: 4px !important;
}
.mmpaper {
    margin-bottom: 25px;
}
}